.advantages {
    padding: 50px 24px 90px;
}

.advantages__title-description {
    font-family: var(--font-cursive);
    font-size: 14px;
    color: var(--ui-brand-color);
}

.advantages__title-head {
    font-size: 34px;
    color: var(--text-color);
    font-family: var(--font-h);
}

.advantages__title-info {
    font-weight: 400;
    font-family: var(--font-p);
    justify-self: center;
    overflow-wrap: break-word;
}

.advantages__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.advantages__title-info {
    font-size: 18px;
    text-align: center;
}

.advantages__title-head {
    font-weight: 400;
}

.advantages__info {
    display: grid;
    grid-template-columns: 1fr;
    margin: 45px 15px 0px 15px;
    padding: 0px 15px;
}

.topic__title {
    font-size: 22px;
    font-weight: 400;
}

.topic__divider {
    padding: 15px 0;
}

.topic__text {
    color: var(--text-color-dark);
}

.topic__spacer {
    height:30px;
    background-color: transparent;
}

.advantages__info-mider {
    padding: 50px 0px 0px;
    word-wrap: break-word;
    max-width: 100%;
    
    }

.advantages__info-right {
    padding: 50px 0px 0px;
}