.awards {
    text-align: center;
    padding: 50px 0px 60px 0px;
    }
.awards__header {
    padding: 0px 24px 0px 24px;
}
.awards__part-name {
    font-family: var(--font-cursive);
    color: var(--ui-brand-color);
    font-size: 14px;
}
.awards__title {
    margin: 20px 0px 0px 0px;
    font-size: 34px;
    font-family: var(--font-h);
}
.awards__grape-logo-decor {
   
    margin: auto;
}
.awards__subtitle {
    display:flex;
    margin: 20px 0px 0px 0px;
    font-size: 18px;
    font-family: var(--font-p);
}
