.best-deals {
    max-width: 1200px;
    padding: 90px 0 50px 0;
    margin: 0 auto;
    box-sizing: border-box;
}
.best-deals__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 297px;
    padding: 0 15px;
    text-align: center;
}
.best-deals__header-title {
    font-family: var(--font-cursive);
    font-size: 14px;
    color: var(--ui-brand-color);
    
}
.best-deals__header-heading {
    font-family: var(--font-h);
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0 20px 0;
}
.best-deals__header-decor {
    display: block; 
    margin: 0 auto; 
    padding-top: 7.5px;  
    
}
.best-deals__header-text {
    max-width: 90%;
    height: 83px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    font-family: var(--font-p);
    line-height: 30.4px;
}
.best-deals__products {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    text-align: center;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product__image {
    width: 100%;
    height: auto;
    max-width: 242px;
    max-height: 242px;
    object-fit: cover;
}

.product__name {
    width: 100%;
    text-align: center;
    margin-top: 8px;
    font-family: var(--font-p);
    font-weight: 400;
}

.product__price {
    width: 100%;
    text-align: center;
    font-family: var(--font-p);
    font-weight: bold;
}

@media (min-width: 768px) {
    .best-deals__products {
        grid-template-columns: 1fr 1fr;
    }
}


@media (min-width: 1023px) {
    .best-deals__products {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
  