.collections {
    padding: 40px 0px 60px;
}
.collect {
    display:flex; 
    flex-direction: column; 
    align-items:center;
    padding: 0px 24px;
    justify-content: space-around;
}
.card {
    min-height: 430px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin: 50px 15px 0px;
}
.collections__special-events1 {
    background-image: url(../img/collections-of-vines-img1.jpg);
    background-size: cover;
    background-position: center;
}
.collections__special-events2 {
    background-image: url(../img/collections-of-vines-img2.jpg);
    background-size: cover;
    background-position: center;
}
.collections__special-events3 {
    background-image: url(../img/collections-of-vines-img3.jpg);
    background-size: cover;
    background-position: center;
}
.collections__special-events-h3 {
    margin: 15px;
    font-size: 22px;
    font-weight: lighter;
}
.divider-component_1aY {
    margin: 15px;
}
.collections__special-events-p {
    margin: 15px;
    color: var(--text-color-dark);
}
.collections__special-events-a {
    margin: 15px;
    text-decoration:none;
    color: var(--text-color);
    font-weight:bold
}
.collections__special-events-a:hover {
    text-decoration: underline;
}

/* @media (min-width: 768px) {

}     */

@media (min-width: 1000px) {
    .collections {
        padding: 70px 0px 60px;
    }
    .collect {
        flex-direction: row;
        padding: 0px 40px;
    }
}