.categories__container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 5%;
}

.categories__container:first-of-type {
    background-image: url(../img/categories-redwines.jpg);
    background-size: cover;
    min-height: 90vw;
}

.categories__container:nth-of-type(2) {
    background-image: url(../img/categories-whitewines.jpg);
    background-size: cover;
    min-height: 90vw;
}

.categories__container:last-of-type {
    background-image: url(../img/categories-field.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    background-color: rgba(200, 105, 58, 1);
    min-height: 110vw;
}
.categories__inner-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 20% 25% 20% 10%;
}

.categories__inner-container * {
    margin: 5% 0;
}
.categories__inner-container h3 {
    font-family: var(--font-h);
    font-size: 1.75rem;
    font-weight: lighter;
}

.categories__inner-container h2 {
    font-size: 2.125rem;
    font-weight: lighter;
}

.categories__text:last-of-type {
    font-size: 1.125rem;
    font-weight: lighter;
}

.categories__divider {
    width: 15%;
    padding: 1px;
    height: 2px;
    background-color: var(--ui-brand-color);
    border: none;
}

.categories__button {
    text-decoration: none;
    width: 150px;
    color: var(--text-color);
    padding: 10px;
    background-color: var(--ui-brand-color);
    text-align: center;
    font-weight: bolder;
    border-radius: 2px;
}

.categories__button:hover {
    background-color: #af572b;
}

.categories__container:last-of-type .categories__button {
    border: 2px solid var(--text-color);
    width: 100px;
}

.categories__container:last-of-type .categories__button:hover {
    color: var(--background-color);
    background-color: var(--text-color);
}
