.celebration {
    position: fixed;
    width: 90%;
    max-width: 500px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to right, var(--celebration-background-color), var(--celebration-background-color)), url('../img/celebration.jpg');
    background-size: cover;
    background-position: center;
    padding: 40px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100000;
    border: 2px var(--ui-brand-color);
    border-style: solid;
    border-radius: 40px;
    animation: mymove 5s infinite;
}

@keyframes mymove {
    50% {border-color: var(--border-animation-color);}

}

.hidden-celebr {
    display: none;
}

.celebration__title {
    font-size: 34px;
}

.celebration__data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 40px 0;
    padding: 10px;
}

.celebration__data-box {
    border: 2px var(--ui-brand-color);
    border-radius: 2px;
    border-style: solid;
    animation: mymove 5s infinite;
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.celebration__data-box-count {
    font-size: 32px;
}

.celebration__data-box-p {
    justify-self: end;
    color: var(--text-color-dark);
}

.celebration__promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 210px;
    margin: 20px auto;
}

.celebration__promo-faq{
    border: 2px var(--ui-brand-color);
    border-radius: 2px;
    border-style: solid;
    animation: mymove 5s infinite;
}

.celebration__promo-faq-summary {
    display: block;
    font-family: var(--font-p);
    font-size: 22px;
    font-weight: lighter;
    cursor: pointer;
    padding: 10px 10px;
    transition: background .2s ease-out;
}

.celebration__promo-faq-summary:hover {
    background-color: var(--ui-brand-color);

}

.celebration__promo-faq-summary::after {
  content: "+";
  margin-left: auto;
  padding-left: 40px;
}

.celebration__promo-faq[open] .celebration__promo-faq-summary::after {
  content: "-";
  margin-left: auto;
  padding-left: 40px;
}

.celebration__promo-faq[open] .celebration__promo-faq-d-text {
  display: block;
  padding: 10px 10px;
}

.celebration__promo-button {
    margin: 40px 0;
}

@media (min-width: 768px) {

    .celebration {
        width:80%;
        max-width: 1200px;
    }

    .celebration__data {
        display: flex;
    }

    .celebration__promo {
        width: 450px;
        margin: 0 auto;
    }

    .celebration__promo-faq-summary {
        width: 450px;
    }
}