.celebration {
    min-width: 320px;
    /* height: 600px; */
    background-image: linear-gradient(to right, var(--celebration-background-color), var(--celebration-background-color)), url('../img/celebration.jpg');
    background-size: cover;
    background-position: center;
    padding: 40px 20px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.celebration__title {
    font-size: 34px;
}

.celebration__data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    justify-content: center; */
    gap: 30px;
    margin: 40px 0;
    padding: 10px;
}

.celebration__data-box {
    border: 2px solid var(--ui-brand-color);
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.celebration__promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 210px;
    margin: 20px auto;
}

.celebration__promo-faq{
    border: 2px solid var(--ui-brand-color);
}

.celebration__promo-faq-summary {
    display: block;
    font-family: var(--font-p);
    font-size: 22px;
    font-weight: lighter;
    cursor: pointer;
    padding: 10px 10px;
    transition: background .2s ease-out;
}

.celebration__promo-faq-summary:hover {
    background-color: var(--ui-brand-color);

}

.celebration__promo-faq-summary::after {
  content: "+";
  margin-left: auto;
  padding-left: 40px;
}

.celebration__promo-faq[open] .celebration__promo-faq-summary::after {
  content: "-";
  margin-left: auto;
  padding-left: 40px;
}

.celebration__promo-faq[open] .celebration__promo-faq-d-text {
  display: block;
  padding: 10px 10px;
}

/* .celebration__promo-faq-buttom {
    width: 0;
    height: 0;
    appearance: none;
    position: absolute;
} */


/* .celebration__promo-faq-d-text {
    display: none;
    padding: 10px 10px;
} */

/* .celebration__promo-fqa-buttom:checked + .celebration__promo-faq-d-text {
    display: block !important;
} */

.celebration__promo-button {
    margin: 40px 0;
}