.confirm {
  background-color: var(--background-color);
  padding: 40px 0;
  position: fixed;
  border: 1px solid black;
  width: 80%;
  height: auto;
  max-height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.confirm__window {
  height: auto;
  padding: 0 24px;
  text-align: center;
}

.confirm__window-title {
  font-family: var(--font-h);
  font-size: 34px;
  font-weight: lighter;
}

.confirm-modal-window__decor {
  margin: 25px auto;
}

.confirm__window-description {
  font-family: var(--font-p);
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 45px;
}

.confirm-button {
  display: inline-block;
  max-width: 100%;
  width: auto;
  text-decoration: none;
  color: var(--text-color);
  text-align: center;
  font-family: var(--font-p);
  font-weight: 700;
  font-size: 15px;
  display: inline-block;
  padding: 13px 25px;
  border: 3px solid white;
  line-height: 15px;
  box-sizing: border-box;
  border-radius: 2px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .confirm {
    width: 90%;
    height: auto;
    padding-top: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .confirm__window-title {
    font-size: 41px;
    padding-top: 40px;
  }

  .confirm__window {
    width: 90%;
    height: auto;
    padding: 0 32px;
    margin: auto;
  }

  .confirm__window-description {
    margin-bottom: 18px;
  }

  .confirm-button {
    margin: 0 20px;
  }
}

@media (min-width: 880px) {
  .confirm {
    margin-top: 50px;
    width: 60%;
    height: auto;
    padding-top: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .confirm__window-title {
    font-size: 50px;
    padding-top: 40px;
  }

  .confirm__window-description {
    margin-bottom: 18px;
    font-size: 20px;
  }

  .confirm-button {
    margin-top: 30px;
  }
}

@media (min-width: 1350px) {
  .confirm {
    margin-top: 50px;
    width: 50%;
    height: auto;
    padding-top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .confirm__window-title {
    font-size: 50px;
    padding-top: 30px;
  }

  .confirm__window-description {
    margin-bottom: 18px;
    font-size: 20px;
  }

  .confirm-button {
    margin-top: 30px;
  }
}

@media (min-width: 1700px) {
  .confirm {
    width: 50%;
    height: auto;
    padding-top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .confirm__window-title {
    font-size: 70px;
    padding-top: 30px;
  }
}
