.contact-form {
    padding-top: 90px;
    padding-bottom: 15px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: var(--alternative-background-color);
}

.contact-form__content {
    padding: 0 15px;
}

.contact-form__input-wrapper {
    padding: 0 15px;
    margin-top: 50px;
}

.contact-form__title {
    color: var(--ui-brand-color);
    font-family: var(--font-cursive);
    font-size: 14px;
}

.contact-form__subtitle {
    margin-top: 20px;
    font-family: var(--font-h);
    font-size: 28px;
}

.contact-form__description {
    margin-top: 25px;
    font-family: var(--font-p);
    font-size: 16px;
}

.contact-form__input-wrapper {
    padding: 0 15px;
    margin-top: 50px;
}

.contact-form__email-input {
    margin-top: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--email-input-background-color);
    border: 0;
    font-size: 15px;
    width: 100%;
    font-family: inherit;
    color: var(--text-color);
}

.contact-form__submit-button {
    margin-top: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--ui-brand-color);
    color: var(--text-color);
    border: 0;
    width: 100%;
    font-weight: 700;
    font-family: var(--font-p);
    cursor: pointer;
}

.contact-form__submit-button:hover {
    background-color: var(--button-on-hover-color);
}

.contact-form__divider {
    margin-top: 45px;
    padding: 0 15px;
}

.contact-form__divider-div {
    height:1px;
    width:100%;
    background-color: var(--contact-form-divider-color);
}

@media (min-width: 768px) {
    .contact-form__cont {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .contact-form__input-wrapper {
        margin-top: 0;
        max-width: 370px;
    }
}

@media (min-width: 1200px) {
    .contact-form__content {
        width: 770px;
    }
}

.contact-form__modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f2f4f77e;
}

.contact-form__modal-content {
    margin: 0 auto;
    padding: 43px 32px 65px;
    background-color: var(--background-color);
    min-width: 344px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-radius: 3px;
}

.contact-form__modal-close-btn {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 16px;
    right: 24px;
    padding: 4px;
    opacity: .8;
    border: 0;
    background: none;
    cursor: pointer;
}

.contact-form__modal-close-btn:hover {
    opacity: 1;
}

.contact-form__modal-close-btn::before, .contact-form__modal-close-btn::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: var(--text-color);
}

.contact-form__modal-close-btn::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.contact-form__modal-close-btn::before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.contact-form__modal-status-icon {
    display: flex;
    width: 34px;
    height: 34px;
    margin: 0 auto 33px;
    align-items: center;
    justify-content: center;
    color: var(--ui-brand-color);
}

.contact-form__modal-status-icon-svg {
    width: 100%;
    height: 100%;
    fill: var(--ui-brand-color);
}

.contact-form__modal-message-title {
    margin-bottom: 8px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    font-family: var(--font-h);
}

.contact-form__modal-message-text {
    margin-bottom: 42px;
    text-align: center;
    font-size: 14px;
    font-family: var(--font-p);
}

.contact-form__modal-message-btn {
    position: relative;
    width: 210px;
    margin: 0 auto;
    padding: 0;
    border: 0;
    overflow: hidden;
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 36px;
    font-family: var(--font-h);
    border-radius: 2px;
    font-size: 12px;
    z-index: 1;
    text-align: center;
    color: var(--text-color);
    background-color: var(--ui-brand-color);
    cursor: pointer;
}