.discover__image{
    position: relative;
    display: block;
    background-image: url(../img/discover-people-drink-wine.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    align-items: center;
}
.discover__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(55, 44, 44, 0.3); 
    color: white; 
    text-align: center;
}

.discover__tagline {
  font-family: "Great Vibes";
  font-size: 14px;
  color: var(--ui-brand-color);
}
.discover__title {
  font-family: Prata, serif;
  font-size: 58px;
}
.discover__description {
  font-family: Rubik, sans-serif;
  font-size: 18px;
}

.button-learn {
  display: flex;
  flex-direction: column;
  width: 135px;
  padding: 15px 10px 15px 10px;
  margin-top: 15px;
  border: 3px solid white;
  border-radius: 2px;
  font-family: "Rubik", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  box-sizing: border-box;
}
