.features {
    padding: 0px 40px 90px;
    display: block;
    /*display: grid;
    grid-template-columns: 1fr;*/
}
.features__block {
    margin: 50px 0px 0px;
}
.features__block-ikon-box {
    background-color: #342e2e;
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features__block-ikon {
    color: var(--ui-brand-color);
    height: 26px;
    width: 26px;
}
.features__block-title {
    font-size: 22px;
    margin-top: 20px;
}
.features__block-divider {
    margin: 15px 0px;
}
.features__block-description {
    color: var(--text-color-dark);
}