.footer article:first-of-type {
  background-color: rgb(27, 22, 19);
  padding-bottom: 30px;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__container > div {
  padding: 0 15px 0 15px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__info-menu,
.footer__shop-menu,
.footer_copyright-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__contact-icons_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__subtitle,
.footer__divider,
.footer__link-container,
.footer__contact-address,
.contact-icons_container,
.footer__info-menuitem,
.footer__shop-menuitem,
.footer__button {
  margin: 10px 5px;
}

.footer__subtitle {
  font-family: var(--font-h);
  font-size: 22px;
  font-weight: 400;
}

.footer__divider {
  background-color: var(--ui-brand-color);
  width: 71px;
  height: 2px;
  border: none;
}

.footer article:last-of-type {
  background-color: rgb(19, 15, 14);
}

.footer__link,
.footer__contact-address {
  text-decoration: none;
  color: var(--text-color-dark);
}

.footer__info-menuitem,
.footer__shop-menuitem {
  list-style-type: none;
}

.footer__info-menuitem .footer__link,
.footer__shop-menuitem .footer__link {
  font-weight: 900;
}

.footer__icon {
  margin: 7px;
}

.footer_copyright-text {
  margin: 20px 7px;
  font-size: 14px;
}

.footer__instagram-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer__button {
  border: none;
  cursor: pointer;
}

.footer__thumbnail {
  object-fit: cover;
  width: inherit;
}

@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    align-items: flex-start;
    padding: 0 15px;
  }

  .footer__container > div {
    align-items: flex-start;
    flex-basis: 25%;
    padding: 0 5px;
  }

  .footer__info-menu,
  .footer__shop-menu,
  .footer_copyright-container {
    align-items: flex-start;
  }

  .footer__instagram-container {
    grid-template-columns: 1fr 1fr;
  }

  .footer_copyright-container {
    padding: 0 20px;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .footer__instagram-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
