@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&family=Edu+SA+Beginner&family=Rubik:wght@300;400&family=Satisfy&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --social--logo--second--color:rgba(0, 0, 0, 0);
  --social--logo--first--color:#ad5d35;
  --social--frame--color:#ad5d35;
  --social--background--second--color:#ad5d35;
  --social--background--first--color:rgba(0, 0, 0, 0);
  --header--container--color: rgba(0, 0, 0, 0.5);
  --header--container--non-transparent--color: #1a1512;
  --burger--menu--color: #ffffff;
  --header--nav--links--first--color: #ffffff;
  --header--nav--links--second--color: #c8693a;
  --cover--button--shop--first--color: #c8693a;
  --cover--button--shop--second--color: #ad5d35;
  --button--learn--frame: #ffffff;
  --button--learn--color: #ffffff;
  --button--learn--text--color: #000000;
  --ui-brand-color: #c8693a;
  --background-color: #261e1c;
  --copyright-background-color: #130f0e;
  --alternative-background-color: #1b1613;
  --feautures-background-icon: #342e2e;
  --button-on-hover-color: #af572b;
  --text-color: rgb(255, 255, 255);
  --text-color-dark: rgb(137, 128, 130);
  --text-color-darker: #1f1917;
  --text-color-instock-indicator: #61a854;
  --cart-badge-background-color: rgb(255, 255, 255);
  --cart-badge-conter-color: rgb(200, 105, 58);
  --cart-background-color: rgb(255, 255, 255);
  --cart-text-color: #261e1c;
  --cart-header-background-color: rgb(247, 248, 250);
  --cart-buyers-input-color: rgb(38, 30, 28);
  --cart-buyers-background-color: rgba(38, 30, 28, 0.12);
  --email-input-background-color: #4949493d;
  --contact-form-divider-color: #ffffff24;
  --indicator-background-color: #ffffff24;
  --indicator-active-background-color: #ffffff;
  --font-h: 'Prata', serif;
  --font-p: 'Rubik', sans-serif;
  --font-cursive: 'Great Vibes', cursive;
  --section-divider-light-color: lightgray;
  --celebration-background-color: rgba(38, 30, 28, 0.95);
  --semi-opaque-background-color: linear-gradient(
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6)
  );
  scroll-behavior: smooth;
  color: var(--text-color);
  background-color: var(--background-color);
}

.container {
  max-width: 1200px;
  margin: auto;
}

.hidden {
  display: none;
}

img {
  max-width: 100%;
  display: block;
}

p,
a {
  font-family: var(--font-p);
  font-size: 1rem;
  font-weight: lighter;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-h);
  font-weight: lighter;
}
