header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
display: flex;
justify-content: flex-end;

}
.nav__links {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: bold;
    list-style-type: "";
    display: inline-block ;
    display: flex;
    justify-content: flex-end;
    gap: 20px;

}
.nav__links li a:hover {
color: orange ;
}
.nav__links li a {
    color: white;
    text-decoration: none;
}