.header__container {
    width: 100%;
    background-color: var(--header--container--color);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
}

.header__nav__links {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: bold;
    list-style-type: "";
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.header__nav__links li a {
    color: var(--header--nav--links--first--color);
    text-decoration: none;
}

.header__nav__links li a:hover {
    color: var(--header--nav--links--second--color);
}

.social {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

@media screen and (max-width: 991px) {
    .header__nav__links li a {
        display: none;
    }

    .social {
        display: none;
    }

    .header__container {
        background-color: transparent;
    }

    .burger-menu {
        width: 24px;
        height: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .line {
        width: 100%;
        height: 2px;
        background-color: var(--burger--menu--color);
    }
}