.shop {
    height: 2032px;
    width: auto;
    padding: 90px 0 90px 0;
    margin: 0 auto;
}
.shop__header {
    width: 100%;
    height: 272px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    text-align: center;
}
.shop__header-title {
    font-family: var(--font-cursive);
    font-size: 14px;
    color: var(--ui-brand-color);
}
.shop__header-heading {
    width: 100%;
    height: 44px;
    font-family: var(--font-h);
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0 20px 0;
}
.shop__header-decor {
    display: block; 
    margin: 0 auto; 
    padding-top: 7.5px; 
}
.shop__header-text {
    width: 272px;
    height: 62px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    font-family: var(--font-p);
    line-height: 30.4px;
}
.shop__products {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    margin-top: 30px; 
    height: 1765px;
    width: auto;
}
.shop__product {
    text-align: center;
}
.product {
}
.product__image {
    width: 242px;
    height: 242px;
    object-fit: cover;
}
.product__name {
    width: 100%; 
    height: 26px;
    margin-top: 8px;
    font-family: var(--font-p);
    font-weight: 400;
}
.product__price {
    width: 100%;
    height: 26px;
    text-align: center;
    font-family: var(--font-p);
    font-weight: bold;
}
.button {
    display: inline-block;
    max-width: 100%;
    width: auto;
    text-align: center; 
    margin: 8px 0; 
}
.shop__view-all {
}