.shop {
    max-width: 1200px;
    padding: 90px 0 90px 0;
    margin: 0 auto;
    box-sizing: border-box;
}
.shop__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 272px;
    padding: 0 15px;
    text-align: center;
}
.shop__header-title {
    font-family: var(--font-cursive);
    font-size: 14px;
    color: var(--ui-brand-color);
}
.shop__header-heading {
    font-family: var(--font-h);
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0 20px 0;
}
.shop__header-decor {
    display: block; 
    margin: 0 auto; 
    padding-top: 7.5px; 
}
.shop__header-text {
    max-width: 90%;
    height: 83px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    font-family: var(--font-p);
    line-height: 30.4px;
}
.shop__products {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    text-align: center;
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product__image {
    width: 100%;
    height: auto;
    max-width: 242px;
    max-height: 242px;
    object-fit: cover;
}
.product__name {
    width: 100%;
    margin-top: 8px;
    text-align: center;
    font-family: var(--font-p);
    font-weight: 400;
}
.product__price {
    width: 100%;
    text-align: center;
    font-family: var(--font-p);
    font-weight: bold;
}
.button {
    margin-top: 24px;
}

.shop__view-all {
    text-align: center;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .shop__products {
        grid-template-columns: 1fr 1fr;
    }
    .shop__view-all {
        grid-column: span 3;
        justify-self: end;
    }
}


@media (min-width: 1023px) {
    .shop__products {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .shop__view-all {
        grid-column: span 4;
        justify-self: end;
    }
}
