.testimonials {
    text-align: center;
    padding: 50px 24px 50px 24px;
    background-image: url("../img/testimonials-grape-font-decor.webp");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.testimonials__header {
    padding: 0 15px;
    margin: 0 -15px;
}

.testimonials__part-name {
    font-family: var(--font-cursive);
    color: var(--ui-brand-color);
    font-size: 14px;
}

.testimonials__title {
    margin-top: 20px;
    font-size: 34px;
    font-family: var(--font-h);
}

.testimonials__grape-logo {
    display: block;
    padding-top: 7.438px;
    margin: 25px auto 0 auto;
}

.testimonials__subtitle {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 19px;
    font-family: var(--font-p);
}

.testimonials__carrousel {
    padding: 45px 15px 0 15px;
}

.testimonials__list {
    margin: auto;
    font-family: var(--font-p);
    color: var(--text-color-dark);
    font-size: 16px;
}

.testimonials__text {
    display: flex;
    text-align: center;
}