@import url(global.css);

.forbiddance {
  background-color: var(--background-color);
  width: 320px;
  height: 582px;
  padding: 150px 0;
}

.forbiddance__container {
  text-align: center;
  padding: 0 15px;
}

.forbiddance__container-title {
  font-family: --font-h;
  font-size: 57px;
  transform: scale(1.2083);
  font-weight: lighter;
  transform-origin: top center;
  width: 255px;
  height: 427px;
  margin: 0 15px 0 17px;
  padding: 0 10px;
  line-height: 1;
}

.forbiddance-decor {
  margin: 30px auto 20px;
}

.forbiddance__container-description {
  font-family: var(--font-p);
  text-align: center;
  line-height: 1.5;
  color: var(--text-color-dark);
  width: 235px;
  margin: auto;
}
