<section class="about-section">
    <div class="about-text" id="about"></div>
    <div class="about-text">
        <div class="about-text-header-d">
            <p class="about-text-header-p">Timeless classic</p>
        </div>
        <div class="about-text-to-img">
            <h2 class="about-text-to-img-p">Traditional Wine Varieties for Connoisseurs</h2>
        </div>
        <div class="about-img-vine">
            <img src="img/vine-decor.svg" alt="vine-decor">
        </div>
        <div class="about-text-after-img">
            <p class="about-text-after-img-p">From the very beginning of our winery, we have concentrated on the
                production of classic wines.</p>
        </div>
        <div class="about-text-red-vine">
            <br>
            <p class="about-text-red-vine-header">The Reds</p>
            <div class="about-vine">
                <p class="about-text-vine-span"><span class="text-line-about">—</span>
                    Cabernet
                </p>
                <p class="about-text-vine-span"><span class="text-line-about">—</span>
                    Syrah
                </p>
                <p class="about-text-vine-span"><span class="text-line-about">—</span>
                    Pinot Noir
                </p>
            </div>
        </div>
        <div class="about-text-white-vine">
            <br>
            <p class="about-text-white-vine-header">The Whites</p>
            <div class="about-vine">
                <p class="about-text-vine-span"><span class="text-line-about">—</span>
                    Chardonnay
                </p>
                <p class="about-text-vine-span"><span class="text-line-about">—</span>
                    Sauvignon Blanc
                </p>
                <p class="about-text-vine-span"><span class="text-line-about">—</span>
                    Pinot Grigio
                </p>
            </div>
        </div>
    </div>
</section>