<section class="about__section" id="about">
    <div class="about__background-image"></div>
    <div class="about__section-content">
        <div class="about__text">
            <div class="about__text-left"></div>
            <div class="about__text-right">
                <div class="about__text-header-d">
                    <p class="about__text-header-p">Timeless classic</p>
                </div>
                <div class="about__text-to-img">
                    <h2 class="about__text-to-img-p">Traditional Wine Varieties for Connoisseurs</h2>
                </div>
                <div class="about__img-vine">
                    <picture class="about__picture">
                        <img src="img/vine-decor.svg" alt="vine-decor">
                    </picture>
                </div>
                <div class="about__text-after-img">
                    <p class="about__text-after-img-p">From the very beginning of our winery, we have concentrated on
                        the
                        production of classic wines.</p>
                </div>
                <div class="about__text-red-vine">
                    <br>
                    <p class="about__text-red-vine-header">The Reds</p>
                    <div class="about__vine">
                        <p class="about__text-vine-span"><span class="text-line-about">—</span>
                            Cabernet
                        </p>
                        <p class="about__text-vine-span"><span class="text-line-about">—</span>
                            Syrah
                        </p>
                        <p class="about__text-vine-span"><span class="text-line-about">—</span>
                            Pinot Noir
                        </p>
                    </div>
                </div>
                <div class="about__text-white-vine">
                    <br>
                    <p class="about__text-white-vine-header">The Whites</p>
                    <div class="about__vine">
                        <p class="about__text-vine-span"><span class="text-line-about">—</span>
                            Chardonnay
                        </p>
                        <p class="about__text-vine-span"><span class="text-line-about">—</span>
                            Sauvignon Blanc
                        </p>
                        <p class="about__text-vine-span"><span class="text-line-about">—</span>
                            Pinot Grigio
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>