<section class="about-ostapav">
    <div style="display:none" id="about"></div>
    <div class="about-text-header">
        <p style="color:rgb(200, 105, 58)">Timeless classic</p>
    </div>
    <div class="about-text-to-img">
        <h2>Traditional Wine Varieties for Connoisseurs</h2>
    </div>
    <div class="about-img-vine">
        <img src="img/about-vine.svg" alt="about-vine">
    </div>
    <div class="about-text-after-img">
        <p>From the very beginning of our winery, we have concentrated on the production of classic wines.</p>
    </div>
    <div class="about-text-red-vine">
        <p class="about-text-red-vine-header">The Reds</p>
        <p><span class="text-line-about" style="color:rgb(200, 105, 58)">—</span>
            <span style="color:rgb(137,128,130)">Cabernet</span>
        </p>
        <p><span class="text-line-about" style="color:rgb(200, 105, 58)">—</span>
            <span style="color:rgb(137,128,130)">Syrah</span>
        </p>
        <p><span class="text-line-about" style="color:rgb(200, 105, 58)">—</span>
            <span style="color:rgb(137,128,130)">Pinot Noir</span>
        </p>
    </div>
    <div class="about-text-white-vine">
        <p class="about-text-white-vine-header">The Whites</p>
        <p><span class="text-line-about" style="color:rgb(200, 105, 58)">—</span>
            <span style="color:rgb(137,128,130)">Chardonnay</span>
        </p>
        <p><span class="text-line-about" style="color:rgb(200, 105, 58)">—</span>
            <span style="color:rgb(137,128,130)">Sauvignon Blanc</span>
        </p>
        <p><span class="text-line-about" style="color:rgb(200, 105, 58)">—</span>
            <span style="color:rgb(137,128,130)">Pinot Grigio</span>
        </p>
    </div>
</section>