<section class="advantages container" title="Information about wine advantages" id="advantages">
  <div class="advantages__title">
    <p class="advantages__title-description">100% natural</p>
    <h2 class="advantages__title-head">What Makes Our Wines Special</h2>
    <img class="advantages__title-image" src="img/vine-decor.svg" alt="Advantages vine decor" />
    <span class="advantages__title-info">
      We use only 100% natural grapes, no impurities.
    </span>
  </div>

  <section class="advantages__info">
    <figure class="advantages__info-img">
      <img src="img/advantages-wine.png" alt="Advantages wine" />
    </figure>
    <div class="advantages__info-mider">
      <article class="advantages__info-topic topic">
        <h3 class="topic__title">Amazing Taste</h3>
        <div class="topic__divider">
          <figure style="height: 2px; width: 15%; background-color: #c8693a"></figure>
        </div>
        <p class="topic__text">
          We make wine from selected grapes of the best varieties.
        </p>
        <div class="topic__spacer"></div>
      </article>
      <article class="advantages__info-topic topic">
        <h3 class="topic__title">Naturalness</h3>
        <div class="topic__divider">
          <figure style="height: 2px; width: 15%; background-color: #c8693a"></figure>
        </div>
        <p class="topic__text">
          In the production of wine, we use only natural ingredients.
        </p>
        <div class="topic__spacer"></div>
      </article>
      <article class="advantages__info-topic topic">
        <h3 class="topic__title">Ecological Safety</h3>
        <div class="topic__divider">
          <figure style="height: 2px; width: 15%; background-color: #c8693a"></figure>
        </div>
        <p class="topic__text">
          Grapes for wine production are grown in an ecologically clean place.
        </p>
      </article>
    </div>
    <div class="advantages__info-right">
      <article class="advantages__info-topic topic">
        <h3 class="topic__title">Natural Fermentation</h3>
        <div class="topic__divider">
          <figure style="height: 2px; width: 15%; background-color: #c8693a"></figure>
        </div>
        <p class="topic__text">
          We do not add alcohol or any additives to increase ABV.
        </p>
        <div class="topic__spacer"></div>
      </article>
      <article class="advantages__info-topic topic">
        <h3 class="topic__title">Wine Aging</h3>
        <div class="topic__divider">
          <figure style="height: 2px; width: 15%; background-color: #c8693a"></figure>
        </div>
        <p class="topic__text">
          Before bottling, the wine is aged in special oak barrels.
        </p>
        <div class="topic__spacer"></div>
      </article>
      <article class="advantages__info-topic topic">
        <h3 class="topic__title">Classic Varieties</h3>
        <div class="topic__divider">
          <figure style="height: 2px; width: 15%; background-color: #c8693a"></figure>
        </div>
        <p class="topic__text">
          From Chardonnay to Syrah, we offer classic wines that everyone likes.
        </p>
      </article>
    </div>
  </section>
</section>