<section class="awards">
    <div class="awards__header">
        <p class="awards__block-name"> Awards</p>
        <p clas="awards__title"> Our Wines Are Our Pride</p>
        <img class="awards__grape-logo-decor" src="img/testimonials-grape-logo-decor.svg" alt="Grape decor">
        <p class="awards__subtitle"> The excellence of our wines has been proved by the following awards.</p>
    </div>
    <div class="awards__prizes">
        <ul class="awards__prizes__list">
            <li class="awards__fine-wines">
                <img class="awards__fine-wines__logo" src="img/awards-fine-wines-logo.svg" alt="Fine Wines logo">
                <p class="awards__award-name">The Best Craft Wine in California</p>
                <p class="awards__year-take-award">1956</p>
                <p class="awards__text-about-award">Our Sauvignon Blanc wine was entered for the first time in a
                    competition and immediately received this award. Experts noted the amazing aroma and luxurious taste
                    of our wine. This award has become an important impetus for the development of our company. </p>
            </li>
            <li class="awards__orange-wine-fund">
                <img class="awards__fine-wines__logo" src="img/awards-orange-wine-fund-logo.svg"
                    alt="Orange Wine Fund logo">
                <p class="awards__award-name">The Most Intense Red Wine</p>
                <p class="awards__year-take-award">1992</p>
                <p class="awards__text-about-award">In 1992, in conditions of very tough competition from winemakers in
                    our state, our wine managed to take first place. It was preferred by most critics of Orange Wine
                    Fund. They noted the bright and rich taste of our Pinot Noir, its ruby color, and intense aroma.
                </p>
            </li>
            <li class="awards__wine-corporation">
                <img class="awards__wine-corporation__logo" src="img/awards-wine-corporation-logo.svg"
                    alt="Wine Corporation logo">
                <p class="awards__award-name">Year's Best Chardonnay</p>
                <p class="awards__year-take-award">2016</p>
                <p class="awards__text-about-award">Our Chardonnay got a gold medal at the Wine Corporation Annual
                    Contest. Our wine scored the highest number of points - 99 out of 100 possible, and was rated by
                    experts and critics as “amazing”. By the way, a few bottles of Chardonnay produced in 2016 are still
                    on sale. </p>
            </li>
            <li class="awards__wine-finds">
                <img class="awards__wine-finds__logo" src="img/awards-wine-finds-logo.svg" alt="Wine Finds logo">
                <p class="awards__award-name">The Best American Riesling</p>
                <p class="awards__year-take-award">2022</p>
                <p class="awards__text-about-award">In 2022, our wine was presented in this competition among all US
                    wine producers for the first time. And right off the bat, it was able to get the highest award.
                    Experts rated our Riesling wine at 97 points out of 100 possible, noting its excellent taste. </p>
            </li>
        </ul>
    </div>
</section>
</main>