<!--Vatrych-->
<section class="awards container" id="awards">
    <div class="awards__header">
        <p class="awards__part-name"> Awards</p>
        <p class="awards__title"> Our Wines Are Our Pride</p>
        <img class="awards__grape-logo-decor" src="img/vine-decor.svg" alt="Grape decor">
        <p class="awards__subtitle"> The excellence of our wines has been proved by the following awards.</p>
    </div>
    <div class="awards__prizes">
        <ul class="awards__prizes__list"></ul>
    </div>
</section>
</main>