<section class="best-deals" id="best-deals">
  <div class="best-deals__header">
    <p class="best-deals__header-title">Best deals</p>
    <h2 class="best-deals__header-heading">Wines to Every Table</h2>
    <img class="best-deals__header-decor" src="img/vine-decor.svg" alt="Decor">
    <p class="best-deals__header-text">Shop our best-selling wines. Click on the product images to see the details.</p>
  </div>
  <div class="best-deals__outercontainer">
    <div class="best-deals__left-arrow-container">
      <div class="best-deals__arrowL">
        <svg class="arrow-svg_1j4" viewBox="0 0 30 30">
          <defs>
            <path
              d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z"
              id="a-1661443522056"></path>
          </defs>
          <use fill-rule="nonzero" opacity=".8" xlink:href="#a-1661443522056"></use>
        </svg>
      </div>
    </div>
    <div class="best-deals__products"></div>
    <div class="best-deals__right-arrow-container">
      <div class="best-deals__arrowR">
        <svg class="arrow-svg_1j4" viewBox="0 0 30 30">
          <defs>
            <path
              d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z"
              id="a-1691156771785"></path>
          </defs>
          <use fill-rule="nonzero" opacity=".8" xlink:href="#a-1691156771785"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="best-deals__carousel-indicators">
  </div>
  </div>
</section>