<section class="best-deals">
  <div class="best-deals__header">
    <span class="best-deals__header-title">Best deals</span>
    <h2 class="best-deals__header-heading">Wines to Every Table</h2>
    <img class="best-deals__header-decor" src="img/vine-decor.svg" alt="Decor">
    <span class="best-deals__header-text">Shop our best-selling wines. Click on the product images to see the details.</span>
  </div>
  <div class="best-deals__products">
    <div class="best-deals__product product">
      <a href="store-product.html"><img class="product__image" src="img/best-deals-cabernet.jpeg" alt="Cabernet"></a>
      <p class="product__name">Cabernet</p>
      <p class="product__price">17,00USD</p>
      <a class="button" href="#"><strong>Add to cart</strong></a>
    </div>
    <!-- <div class="best-deals__product product">
      <a href="store-product.html"><img class="product__image" src="img/best-deals-pinotgrigio.jpeg" alt="Pinot Grigio"></a>
      <span class="product__name">Pinot Grigio</span>
      <span class="product__price">10,00USD</span>
      <a class="button" href="#">Add to cart</a>
    </div>
    <div class="best-deals__product product">
      <a href="store-product.html"><img class="product__image" src="img/best-deals-sauvignonblanc.jpeg" alt="Sauvignon Blanc"></a>
      <span class="product__name">Sauvignon Blanc</span>
      <span class="product__price">12,00USD</span>
      <a class="button" href="#">Add to cart</a>
    </div>
    <div class="best-deals__product product">
      <a href="store-product.html"><img class="product__image" src="img/best-deals-syrah.jpeg" alt="Syrah"></a>
      <span class="product__name">Syrah</span>
      <span class="product__price">13,00USD</span>
      <a class="button" href="#">Add to cart</a>
    </div>  -->
  </div>   
</section>