<section>
    <p class="best-deals-title">Best deals</p>
    <h1>Wines to Every Table</h1>
    <img class="best-deals-decor" src="img/best-deals-decor.svg" alt="Decor">
    <p class="best-deals-text">Shop our best-selling wines. Click on the product images to see the details.</p>
    <div class="bottle-block">
        <a href="store-product.html"><img width="300" src="img/best-deals-cabernet.jpeg" alt="Cabernet"></a>
        <p>Cabernet</p>
        <p>17,00USD</p>
        <a href="#">Add to cart</a>
      </div>
      <div class="bottle-block">
        <a href="store-product.html"><img width="300" src="img/best-deals-pinotgrigio.jpeg" alt="Pinot Grigio"></a>
        <p>Pinot Grigio</p>
        <p>10,00USD</p>
        <a href="#">Add to cart</a>
      </div>
      <div class="bottle-block">
        <a href="store-product.html"><img width="300" src="img/best-deals-sauvignonblanc.jpeg" alt="Sauvignon Blanc"></a>
        <p>Sauvignon Blanc</p>
        <p>12,00USD</p>
        <a href="#">Add to cart</a>
      </div>
      <div class="bottle-block">
        <a href="store-product.html"><img width="300" src="img/best-deals-syrah.jpeg" alt="Syrah"></a>
        <p>Syrah</p>
        <p>13,00USD</p>
        <a href="#">Add to cart</a>
      </div>    
</section>