<section class="best-deals" id="best-deals">
  <div class="best-deals__header">
    <p class="best-deals__header-title">Best deals</p>
    <h2 class="best-deals__header-heading">Wines to Every Table</h2>
    <img class="best-deals__header-decor" src="img/vine-decor.svg" alt="Decor">
    <p class="best-deals__header-text">Shop our best-selling wines. Click on the product images to see the details.</p>
  </div>
  <div class="best-deals__outercontainer">
    <div class="best-deal__left-arrow-container"><button class="best-deals__arrowL">&larr;;</button></div>
    <div class="best-deals__products"></div>
    <div class="best-deal__left-arrow-container"><button class="best-deals__arrowR">&rarr;</button></div>
  </div>   
</section>