<section class="blog__section" id="blog">
    <div class="blog__text-header">
        <p class="blog__text-header-p">Blog</p>
        <h2 class="blog__text__h2">World of Wines</h2>
        <div class="blog__img-vine">
            <img src="img/vine-decor.svg" alt="about-vine">
        </div>
        <p class="blog__text-after-img">Read our articles if you want to
            know more about wine production and selection.
        </p>
    </div>
    <div class="blog__slider">
        <div class="blog__slider-button-prev"><img class="blog__arrow" src="img/arrow--testimonials.svg"
                alt="Arrow prev"></div>
        <div>
            <div class="blog__slider-container"></div>
            <div class="blog__slider-indicators"></div>
        </div>
        <div class="blog__slider-button-next"><img class="blog__arrow" src="img/arrow--testimonials.svg"
                alt="Arrow next"></div>
    </div>
</section>