<section class="blog-section" id="blog">
    <div class="blog-text__header">
        <p class="blog-text-header_p">Blog</p>
        <h2 class="blog-text__h2">World of Wines</h2>
        <div class="blog-img-vine">
            <img src="img/vine-decor.svg" alt="about-vine">
        </div>
        <p class="blog-text-after-img">Read our articles if you want to
            know more about wine production and selection.
        </p>
    </div>
    <div class="blog-text-write">
        No blog posts yet...
    </div>

</section>