<section class="blog-section" id="blog">
    <div style="display:none"></div>
    <div class="blog-text-header">
        <p>Blog</p>
    </div>
    <div class="blog-text-to-img">
        <h2>World of Wines</h2>
    </div>
    <div class="blog-img-vine">
        <img src="img/vine-decor.svg" alt="about-vine">
    </div>
    <div class="blog-text-after-img">
        <p>Read our articles if you want to know more about wine production and selection.</p>
    </div>
    <div class="blog-text-write">
        <p>No blog posts yet...</p>
    </div>
</section>