<section class="collections container" id="capabilities">
    <div class="collect">
        <div class="collections__special-events1 card-event">
            <a class="collections__special-events-a" href="#best-deals">Learn more →</a>
            <p class="collections__special-events-p">We have a great collection of exclusive reserve wines.</p>
            <div class="collections__special-events-line"></div>
            <div class="collections__special-events-divh3">
                <h3 class="collections__special-events-h3">For Your Special Events</h3>
            </div>
        </div>
        <div class="collections__special-events2 card-event">
            <a class="collections__special-events-a" href="#advantages">Learn more →</a>
            <p class="collections__special-events-p">Only natural wine without all kinds of additives or flavors.</p>
            <div class="collections__special-events-line">
            </div>
            <div class="collections__special-events-divh3">
                <h3 class="collections__special-events-h3">100% Organic Vines</h3>
            </div>
        </div>
        <div class="collections__special-events3 card-event">
            <a class="collections__special-events-a" href="#awards">Learn more →</a>
            <p class="collections__special-events-p">We produce and sell the finest wines made of the best grape varieties.</p>
            <div class="collections__special-events-line">
            </div>
            <div class="collections__special-events-divh3">
                <h3 class="collections__special-events-h3">Selected Grape Varieties</h3>
            </div>
        </div>
    </div>
</section>