<section class="cart" title="Order form for purchasing">
    <h2 class="cart-header">
        Shopping cart
    </h2>
    <span class="iconElement_3D2 ui-icon_2oI" style="color:#261e1c"><svg width="100" viewBox="0 0 25 25"
            xmlns="http://www.w3.org/2000/svg" style="max-width:100%" height="100%">
            <path
                d="M19.7 18.3c.4.4.4 1 0 1.4-.2.2-.4.3-.7.3-.3 0-.5-.1-.7-.3L12 13.4l-6.3 6.3c-.4.4-1 .4-1.4 0-.2-.2-.3-.4-.3-.7 0-.3.1-.5.3-.7l6.3-6.3-6.3-6.3c-.4-.4-.4-1 0-1.4.4-.4 1-.4 1.4 0l6.3 6.3 6.3-6.3c.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4L13.4 12l6.3 6.3z"
                fill="currentColor"></path>
            <mask id="a64cd08107f10f0000e5c6411" maskUnits="userSpaceOnUse" x="4" y="4" width="16" height="16"
                fill="currentColor">
                <path
                    d="M19.7 18.3c.4.4.4 1 0 1.4-.2.2-.4.3-.7.3-.3 0-.5-.1-.7-.3L12 13.4l-6.3 6.3c-.4.4-1 .4-1.4 0-.2-.2-.3-.4-.3-.7 0-.3.1-.5.3-.7l6.3-6.3-6.3-6.3c-.4-.4-.4-1 0-1.4.4-.4 1-.4 1.4 0l6.3 6.3 6.3-6.3c.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4L13.4 12l6.3 6.3z"
                    fill="currentColor"></path>
            </mask>
            <g mask="url(#a64cd08107f10f0000e5c6411)" fill="currentColor">
                <path fill="currentColor" d="M0 0h24v24H0z"></path>
            </g>
        </svg>
    </span>
    <div class="cart__shop">
        <p class="cart__shop-head">Products</p>
        <div class="cart__shop-list">
            bottle of wine
        </div>
        <div сlass="cart__shop-summarize sum"></div>
        <span class="sum__total">
            Total:&nbsp;
        </span>
        <span class="sum__price">
            12,00USD
        </span>
    </div>
    <div class="cart__buyer-details">
        <span>Place an Order</span>
        <div class="cart__buyer-details-sub">
            <h3 class="cart__buyer-details-subhead">Name</h3>
            <input class="cart__buyer-details-input" placeholder="Your name">
        </div>
        <div class="cart__buyer-details-sub">
            <h3 class="cart__buyer-details-subhead">Email</h3>
            <input class="cart__buyer-details-input" placeholder="Your email address">
        </div>
        <div class="cart__buyer-details-sub">
            <h3 class="cart__buyer-details-subhead">Phone</h3>
            <input class="cart__buyer-details-input" placeholder="Your Phone">
        </div>
        <div class="cart__buyer-details-comment">
            <h3 class="cart__buyer-details-subhead">Comment</h3>
            <input class="cart__buyer-details-text" placeholder="Your comment">
        </div>
    </div>
</section>