<section class="cart cart__hidden" title="Order form for purchasing">
    <div class="cart__header">
        <h3 class="cart__header-title">
            Shopping cart
        </h3>
        <span class="cart__header-close" style="color:#261e1c"><svg width="16" viewBox="0 0 25 25"
                xmlns="http://www.w3.org/2000/svg" style="max-width:100%" height="100%">
                <path
                    d="M19.7 18.3c.4.4.4 1 0 1.4-.2.2-.4.3-.7.3-.3 0-.5-.1-.7-.3L12 13.4l-6.3 6.3c-.4.4-1 .4-1.4 0-.2-.2-.3-.4-.3-.7 0-.3.1-.5.3-.7l6.3-6.3-6.3-6.3c-.4-.4-.4-1 0-1.4.4-.4 1-.4 1.4 0l6.3 6.3 6.3-6.3c.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4L13.4 12l6.3 6.3z"
                    fill="currentColor"></path>
                <mask id="a64cd08107f10f0000e5c6411" maskUnits="userSpaceOnUse" x="4" y="4" width="16" height="16"
                    fill="currentColor">
                    <path
                        d="M19.7 18.3c.4.4.4 1 0 1.4-.2.2-.4.3-.7.3-.3 0-.5-.1-.7-.3L12 13.4l-6.3 6.3c-.4.4-1 .4-1.4 0-.2-.2-.3-.4-.3-.7 0-.3.1-.5.3-.7l6.3-6.3-6.3-6.3c-.4-.4-.4-1 0-1.4.4-.4 1-.4 1.4 0l6.3 6.3 6.3-6.3c.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4L13.4 12l6.3 6.3z"
                        fill="currentColor"></path>
                </mask>
                <g mask="url(#a64cd08107f10f0000e5c6411)" fill="currentColor">
                    <path fill="currentColor" d="M0 0h24v24H0z"></path>
                </g>
            </svg>
        </span>
    </div>
    <div class="cart__order">
        <p class="cart__order-topic">Products</p>
        <div class="cart__preview">
            <picture class="cart__preview-img">
                <img src="img/cart-preview-wine.png" alt="Preview wine">
            </picture>
            <article class="cart__preview-info info">
                <div>
                    <p class="info__name">
                        bottle of wine
                    </p>
                </div>
                <div class="info__quantity-container">
                    <p class="info__amount">
                        12,00USD
                    </p>
                    <input class="info__quantity-change" type="number" value="1">
                </div>
            </article>
            <picture>
                <img class="cart-preview-remove" src="img/remove-icon.png" alt="remove icon">
            </picture>
        </div>
        <div class="cart__order-sum sum">
            <p class="sum__total">
                Total:&nbsp;
            </p>
            <p class="sum__price">
                12,00USD
            </p>
        </div>
        <div class="cart__buyer-details">
            <p class="cart__buyer-title">Place an Order</p>
            <div class="cart__buyer-details-sub">
                <h4 class="cart__buyer-details-subhead">Name</h4>
                <input class="cart__buyer-details-input" placeholder="Your name">
            </div>
            <div class="cart__buyer-details-sub">
                <h4 class="cart__buyer-details-subhead">Email</h4>
                <input class="cart__buyer-details-input" placeholder="Your email address">
            </div>
            <div class="cart__buyer-details-sub">
                <h4 class="cart__buyer-details-subhead">Phone</h4>
                <input class="cart__buyer-details-input" placeholder="Your Phone">
            </div>
            <div class="cart__buyer-details-comment">
                <h4 class="cart__buyer-details-subhead">Comment</h4>
                <input class="cart__buyer-details-text" placeholder="Your comment">
            </div>
        </div>
    </div>
</section>