<section class="categories">
  <div class="categories__container">
    <h3 class="categories__header">Red Wines</h3>
    <hr class="categories__divider" />
    <p class="categories__text">Great selection of red wines for you.</p>
    <a href="#" class="categories__button"
      ><p class="categories__button-text">Shop red wines</p></a
    >
  </div>
  <div class="categories__container">
    <h3 class="categories__header">White Wines</h3>
    <hr class="categories__divider" />
    <p class="categories__text">Top white wines for any occasion.</p>
    <a href="#" class="categories__button"
      ><p class="categories__button-text">Shop white wines</p></a
    >
  </div>
  <div class="categories__container">
    <h2 class="categories__header">Get your 15% personal discount</h2>
    <p class="categories__text">
      Join our club of wine-lovers and be the first to know about the special
      offers.
    </p>
    <a href="#" class="categories__button"
      ><p class="categories__button-text">Join &#10230</p></a
    >
  </div>
</section>
