<section class = "celebration">
    <h2 class = "celebration__title">Course end date</h2>
    <div class = "celebration__data">
        <div class = "celebration__data-box">
            <p class = "celebration__data-box-count"></p>
            <p class = "celebration__data-box-p">Days</p>
        </div> 
        <div class = "celebration__data-box">
            <p class = "celebration__data-box-count"></p>
            <p class = "celebration__data-box-p">Hours</p>
        </div> 
        <div class = "celebration__data-box">
            <p class = "celebration__data-box-count"></p>
            <p class = "celebration__data-box-p">Minutes</p>
        </div> 
        <div class = "celebration__data-box">
            <p class = "celebration__data-box-count"></p>
            <p class = "celebration__data-box-p">Seconds</p>
        </div> 
    </div>
    <div class = "celebration__promo">
        <div class = "celebration__promo-faq">
            <label class = "celebration__promo-fqa-summary" for="faq_buttom"> Special promotion! Learn more</label>
            <input class="celebration__promo-fqa-buttom" type = "radio" name = "faq_but" id = "faq_buttom">
            <div class = "celebration__promo-faq-d">
                <p class = "celebration__promo-faq-d-text">Buy two bottles of our wine, and we will send the third bottle to Vyacheslav Koldovskyy at our expense!</p>
            </div>            
        </div>
        <a href="#" class = "celebration__promo-button button">Got it!</a>
    </div>
</section>