<section class = "celebration">
    <h2 class = "celebration__title">Course end date</h2>
    <div class = "celebration__data">
        <div class = "celebration__data-box">
            <p class = "celebration__data-box-count"></p>
            <p class = "celebration__data-box-p">Days</p>
        </div> 
        <div class = "celebration__data-box">
            <p class = "celebration__data-box-count"></p>
            <p class = "celebration__data-box-p">Hours</p>
        </div> 
        <div class = "celebration__data-box">
            <p class = "celebration__data-box-count"></p>
            <p class = "celebration__data-box-p">Minutes</p>
        </div> 
        <div class = "celebration__data-box">
            <p class = "celebration__data-box-count"></p>
            <p class = "celebration__data-box-p">Seconds</p>
        </div> 
    </div>
    <div class = "celebration__promo">
        <summary class = "celebration__promo-summary"> Special promotion! Learn more</summary>
        <p class = "celebration__promo-text">Buy two bottles of our wine, and we will send the third bottle to Vyacheslav Koldovskyy at our expense!</p>
        <a href="#" class = "celebration__promo-button button">Got it!</a>
    </div>
</section>