<section class="contact-form">
    <div>
        <p>Join</p>
        <h2>Join Our Newsletter Now</h2>
        <p>Learn more about wines and our special offers with our weekly digests.</p>
    </div>
    <div>
        <div>
            <input type="email" placeholder="Enter your email address here" required="" value="" maxlength="2000">
        </div>
        <button type="submit">
            <span>Submit</span>
        </button>
    </div>
    <div>
        <div style="height:1px;width:100%;background-color:rgba(255, 255, 255, 0.14)"></div>
    </div>
</section>