<section class="container contact-form">
    <div class="contact-form__cont">
        <div class="contact-form__content">
            <p class="contact-form__title">Join</p>
            <h2 class="contact-form__subtitle">Join Our Newsletter Now</h2>
            <p class="contact-form__description">Learn more about wines and our special offers with our weekly digests.</p>
        </div>
        <div class="contact-form__input-wrapper">
            <div class="contact-form__input-field">
                <input type="email" class="contact-form__email-input" placeholder="Enter your email address here" required="" value="" maxlength="2000">
            </div>
            <button type="submit" class="contact-form__submit-button">
                <span class="contact-form__submit-text">Submit</span>
            </button>
        </div>
    </div>
    <div class="contact-form__divider">
        <div class="contact-form__divider-div"></div>
    </div>
</section>