<section class="discover container" id="cta-discovers">
    <div class="discover__image">
        <div class="discover__info">
            <span class="discover__tagline">Crafted by our winemakers</span>
            <h2 class="discover__title">Discover Our Wines</h2>
            <img src="img/vine-decor.svg" alt="Discover decor" class="discover__decor">
            <span class="discover__description">Find your ideal taste and flavor for any occasion.</span>
            <div class="discover__buttons">
                <a href="#shop" class="discover__buttons-buy button">Buy wines</a>
                <a href="#faq" class="discover__buttons-learn button-learn">Learn more</a>
            </div>
        </div>
    </div>
</section>