<section class="discover">
    <div class="discover__info" style="background-image:url(img/discover-people-drink-wine.jpeg);"></div>
    <p class="discover__tagline">Crafted by our winemakers</p>
    <h1 class="discover__title">Discover Our Wines</h1>
    <img src="img/discover-decor.svg" alt="Discover decor" class="discover__decor">
    <p class="discover__description">Find your ideal taste and flavor for any occasion.</p>
    <div class="discover__buttons">
        <a href="#">Buy wines</a>
        <a href="#">Learn more</a>
    </div>
    </div>
</section>