<section class="faq">
    <p class="text_FAQ">FAQ</p>
    <h2>Have a Question?</h2>
    <img src="img/faq-decor.svg" alt="faq-decor" class="faq-decor__image">
    <div class="accordion">
        <details class="accordion__items">
            <summary class="accordion__title">Are you a wholesale wine supplier?</summary>
            <p class="accordion__body">Our winery produces craft wine. Bulk orders are possible, but lots cannot be large.</p>
        </details>
        <details class="accordion__items">
            <summary class="accordion__title">Do you ship wine within the USA?</summary>
            <p class="accordion__body">Yes, we ship your orders to any state and city in the United States, as well as abroad.</p>
        </details>
        <details class="accordion__items">
            <summary class="accordion__title">How many varieties are there in your winery?</summary>
            <p class="accordion__body">Our winery offers wine-lovers more than 10 different varieties of wines with different aging periods.</p>
        </details>
        <details class="accordion__items">
            <summary class="accordion__title">Do you advise on the choice of wine? </summary>
            <p class="accordion__body">Yes. Our winery experts will tell you more about the varieties and help you choose the best option for you.</p>
        </details>
        <details class="accordion__items">
            <summary class="accordion__title">Where are your vineyards located?</summary>
            <p class="accordion__body">We are located in the Napa Valley, America's most famous wine region.</p>
        </details>
    </div>
    <img src="img/faq-wino.png" alt="faq-wino" class="faq-wino__image">
</section>
