<section  id="faq" class="faq container">
    <div class="accordion">
        <span class="text__FAQ">FAQ
        </span>
        <span class="text__FAQ-title">Have a Question?
        </span>
        <div class="faq-decor__image">
            <img src="img/vine-decor.svg" alt="faq-decor">
        </div>
        <div class="accordion__items">
            <details class="accordion__item">
                <summary class="accordion__title">Are you a wholesale wine supplier?</summary>
                <p class="accordion__body">Our winery produces craft wine. Bulk orders are possible, but lots cannot be large.</p>
            </details>
            <details class="accordion__item">
                <summary class="accordion__title">Do you ship wine within the USA?</summary>
                <p class="accordion__body">Yes, we ship your orders to any state and city in the United States, as well as abroad.</p>
            </details>
            <details class="accordion__item">
                <summary class="accordion__title">How many varieties are there in your winery?</summary>
                <p class="accordion__body">Our winery offers wine-lovers more than 10 different varieties of wines with different aging periods.</p>
            </details>
            <details class="accordion__item">
                <summary class="accordion__title">Do you advise on the choice of wine? </summary>
                <p class="accordion__body">Yes. Our winery experts will tell you more about the varieties and help you choose the best option for you.</p>
            </details>
            <details class="accordion__item">
                <summary class="accordion__title">Where are your vineyards located?</summary>
                <p class="accordion__body">We are located in the Napa Valley, America's most famous wine region.</p>
            </details>
        </div>
    </div>
    <div class="faq__wino">
        <img src="img/faq-wino.png" alt="faq-wino" class="faq__wino-image">
    </div>
</section>