<footer class="footer">
  <div class="footer__container">
    <div class="footer__contact-block">
      <h4 class="footer__subtitle">Contact Us</h4>
      <hr class="footer__divider" />
      <div class="footer__link-container">
        <a class="footer__link" id="footer__email" href="#">caliwines@email.com</a>
      </div>
      <div class="footer__link-container">
        <a class="footer__link" id="footer__phone" href="#">+1 (234) 567 89 00</a>
      </div>
      <p class="footer__contact-address">1111 White Ln, St Helena, CA 94574</p>
      <div class="footer__contact-icons_container">
        <a class="footer__icon-link" href="#">
          <img
            class="footer__icon"
            id="twitter-icon"
            src="img/twitter-icon.svg"
            alt="Twitter icon"
          />
        </a>
        <a class="footer__icon-link" href="#">
          <img
            class="footer__icon"
            id="youtube-icon"
            src="img/youtube-icon.svg"
            alt="YouTube icon"
          />
        </a>
        <a class="footer__icon-link" href="#">
          <img
            class="footer__icon"
            id="facebook-icon"
            src="img/facebook-icon.svg"
            alt="Facebook icon"
          />
        </a>
        <a class="footer__icon-link" href="#">
          <img
            class="footer__icon"
            id="instagram-icon"
            src="img/instagram-icon.svg"
            alt="Instagram icon"
          />
        </a>
      </div>
    </div>
    <div class="footer__info">
      <h4 class="footer__subtitle">Information</h4>
      <hr class="footer__divider" />
      <ul class="footer__info-menu">
        <li class="footer__info-menuitem">
          <a href="#" class="footer__link">History</a>
        </li>
        <li class="footer__info-menuitem">
          <a href="#" class="footer__link">About Us</a>
        </li>
        <li class="footer__info-menuitem">
          <a href="#" class="footer__link">Awards</a>
        </li>
        <li class="footer__info-menuitem">
          <a href="#" class="footer__link">FAQ</a>
        </li>
      </ul>
    </div>
    <div class="footer__shop">
      <h4 class="footer__subtitle">Shop</h4>
      <hr class="footer__divider" />
      <ul class="footer__shop-menu">
        <li class="footer__shop-menuitem">
          <a href="#" class="footer__link">Best Deals</a>
        </li>
        <li class="footer__shop-menuitem">
          <a href="#" class="footer__link">All Wines</a>
        </li>
        <li class="footer__shop-menuitem">
          <a href="#" class="footer__link">Delivery Information</a>
        </li>
        <li class="footer__shop-menuitem">
          <a href="#" class="footer__link">Terms & Conditions</a>
        </li>
      </ul>
    </div>
    <div class="footer__instagram">
      <h4 class="footer__subtitle">Instagram</h4>
      <hr class="footer__divider" />
      <div class="footer__instagram-container">
        <button class="footer__button">
          <img
            width="80"
            src="img/footer-photogallery-corks.png"
            alt="Bottle corks"
            class="footer__thumbnail"
          />
        </button>
        <button class="footer__button">
          <img
            width="80"
            src="img/footer-photogallery-drinking.png"
            alt="Man drinks wine"
            class="footer__thumbnail"
          />
        </button>
        <button class="footer__button">
          <img
            width="80"
            src="img/footer-photogallery-bottle&fruits.png"
            alt="Wine and fruits still image"
            class="footer__thumbnail"
          />
        </button>
        <button class="footer__button">
          <img
            width="80"
            src="img/footer-photogallery-bottles&glass.png"
            alt="Three bottles of wine and glass"
            class="footer__thumbnail"
          />
        </button>
        <button class="footer__button">
          <img
            width="80"
            src="img/footer-photogallery-grapes.png"
            alt="Golden grapes"
            class="footer__thumbnail"
          />
        </button>
        <button class="footer__button">
          <img
            width="80"
            src="img/footer-photogallery-wine.png"
            alt="Red wine poured into glass"
            class="footer__thumbnail"
          />
        </button>
      </div>
    </div>
  </div>
  <div class="footer_copyright-container">
    <p class="footer_copyright-text">&copy Cretated by Group 1054, K1-team</p>
    <p class="footer_copyright-text">Al rights reserved</p>
  </div>
</footer>
