<footer class="footer" id="footer">
  <article class="footer__background">
    <div class="footer__container container">
      <div class="footer__contact-block">
        <h4 class="footer__subtitle">Contact Us</h4>
        <hr class="footer__divider" />
        <div class="footer__link-container">
          <a
            class="footer__link"
            id="footer__email"
            href="mailto:avuua16@gmail.com"
            >buhlishko@email.com</a
          >
        </div>
        <div class="footer__link-container">
          <a class="footer__link" id="footer__phone" href="tel:+12345678900"
            >+1 (234) 567 89 00</a
          >
        </div>
        <p class="footer__contact-address">
          1111 White Ln, St Helena, CA 94574
        </p>
        <div class="footer__contact-icons_container">
          <a
            class="footer__icon-link"
            href="https://twitter.com"
            target="_blank"
          >
            <img
              class="footer__icon"
              id="twitter-icon"
              src="img/twitter-icon.svg"
              alt="Twitter icon"
            />
          </a>
          <a
            class="footer__icon-link"
            href="https://youtube.com"
            target="_blank"
          >
            <img
              class="footer__icon"
              id="youtube-icon"
              src="img/youtube-icon.svg"
              alt="YouTube icon"
            />
          </a>
          <a
            class="footer__icon-link"
            href="https://facebook.com"
            target="_blank"
          >
            <img
              class="footer__icon"
              id="facebook-icon"
              src="img/facebook-icon.svg"
              alt="Facebook icon"
            />
          </a>
          <a
            class="footer__icon-link"
            href="https://instagram.com"
            target="_blank"
          >
            <img
              class="footer__icon"
              id="instagram-icon"
              src="img/instagram-icon.svg"
              alt="Instagram icon"
            />
          </a>
        </div>
      </div>
      <div class="footer__info">
        <h4 class="footer__subtitle">Information</h4>
        <hr class="footer__divider" />
        <ul class="footer__info-menu">
          <li class="footer__info-menuitem">
            <a href="index.html#history" class="footer__link">History</a>
          </li>
          <li class="footer__info-menuitem">
            <a href="index.html#about" class="footer__link">About Us</a>
          </li>
          <li class="footer__info-menuitem">
            <a href="index.html#awards" class="footer__link">Awards</a>
          </li>
          <li class="footer__info-menuitem">
            <a href="index.html#faq" class="footer__link">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="footer__shop">
        <h4 class="footer__subtitle">Shop</h4>
        <hr class="footer__divider" />
        <ul class="footer__shop-menu">
          <li class="footer__shop-menuitem">
            <a href="index.html#best-deals" class="footer__link">Best Deals</a>
          </li>
          <li class="footer__shop-menuitem">
            <a href="index.html#shop" class="footer__link">All Wines</a>
          </li>
          <li class="footer__shop-menuitem">
            <a href="#" class="footer__link">Delivery Information</a>
          </li>
          <li class="footer__shop-menuitem">
            <a href="#" class="footer__link">Terms & Conditions</a>
          </li>
        </ul>
      </div>
      <div class="footer__instagram">
        <h4 class="footer__subtitle">Instagram</h4>
        <hr class="footer__divider" />
        <div class="footer__instagram-container">
          <button class="footer__button">
            <img
              src="img/footer-photogallery-corks.png"
              alt="Bottle corks"
              class="footer__thumbnail"
            />
          </button>
          <button class="footer__button">
            <img
              src="img/footer-photogallery-drinking.png"
              alt="Man drinks wine"
              class="footer__thumbnail"
            />
          </button>
          <button class="footer__button">
            <img
              src="img/footer-photogallery-bottle&fruits.png"
              alt="Wine and fruits still image"
              class="footer__thumbnail"
            />
          </button>
          <button class="footer__button">
            <img
              src="img/footer-photogallery-bottles&glass.png"
              alt="Three bottles of wine and glass"
              class="footer__thumbnail"
            />
          </button>
          <button class="footer__button">
            <img
              src="img/footer-photogallery-grapes.png"
              alt="Golden grapes"
              class="footer__thumbnail"
            />
          </button>
          <button class="footer__button">
            <img
              src="img/footer-photogallery-wine.png"
              alt="Red wine poured into glass"
              class="footer__thumbnail"
            />
          </button>
        </div>
      </div>
    </div>
  </article>
  <article class="footer__background">
    <div class="footer_copyright-container container">
      <p class="footer_copyright-text">&copy Cretated by Group 1054, K1-team</p>
      <p class="footer_copyright-text">All rights reserved</p>
    </div>
  </article>
  <article class="footer__instagram-expanded-outer">
    <div class="footer__instagram-expanded-wrapper">
      <div class="footer__instagram-expanded-controls">
        <div class="footer_instagram-expanded-enlarge">
          <img class='footer__instagram-zoomin-btn' src="img/footer-zoom-in.svg" alt="Zoom-in button">
        </div>
        <div class="footer_instagram-expanded-decrease">
          <img class='footer__instagram-zoomout-btn' src="img/footer-zoom-out.svg" alt="Zoom-out button">
        </div>
        <div class="footer_instagram-expanded-close">
          <img class='footer__instagram-close-btn' src="img/footer-close-window.svg" alt="Window close button">
        </div>
      </div>
      <div class="footer__instagram-expanded-images">
        <div class="footer__instagram-expanded-left">
          <img class='footer__instagram-left-arrow' src="img/footer-white-arrow-left.svg" alt="Left arrow">
        </div>
        <div class="footer__instagram-large-image">
          <img class="footer__instagram-large-img" src="img/footer-photogallery-corks.png" alt="Large Instagram photo">
        </div>
        <!-- <div class="footer__instagram-large-image" style="display: none;"></div> -->
        <!-- <div class="footer__instagram-large-image" style="display: none;"></div> -->
        <div class="footer__instagram-expanded-right">
          <img class='footer__instagram-right-arrow' src="img/footer-white-arrow-right.svg" alt="Right arrow">
        </div>
      </div>
    </div>

  </article>
</footer>
