<section class="history">
    <div>
        <img src="img/history-wines.png" alt="Wines in the cellar">
    </div>
    <div>
        <div>
            <p>1796</p>
            <p>The Beginning</p>
            <div style="height:2px;width:15%;background-color:#c8693a"></div>
            <p>Our family has been engaged in winemaking since the 18th century when the first grape bushes were planted in the Napa Valley by our ancestors.</p>
        </div>
        <div>
            <p>1912</p>
            <p>Selling Wines</p>
            <div style="height:2px;width:15%;background-color:#c8693a"></div>
            <p>Our home-based winery in California became a small, family-owned business, that supplied wine for connoisseurs of this amazing drink.</p>
        </div>
        <div>
            <p>1946</p>
            <p>Restart of Production</p>
            <div style="height:2px;width:15%;background-color:#c8693a"></div>
            <p>After the Second World War, we adopted the experience of European winemakers and began to use new technologies in our wine-making processes.</p>
        </div>
        <div>
            <p>2010</p>
            <p>Worldwide Shipping</p>
            <div style="height:2px;width:15%;background-color:#c8693a"></div>
            <p>We used to sell our wines only wine only in California. But since 2010, we have been shipping our bottles to other American states and even other countries.</p>
        </div>
    </div>
</section>