<section class="container history">
    <div class="history__image">
        <img src="img/history-wines.png" alt="Wines in the cellar">
    </div>
    <div class="history__events">
        <div class="history__event">
            <p class="history__year">1796</p>
            <p class="history__event-title">The Beginning</p>
            <div class="history__event-line"><div class="history__event-line-line"></div></div>
            <p class="history__event-description">Our family has been engaged in winemaking since the 18th century when the first grape bushes were planted in the Napa Valley by our ancestors.</p>
        </div>
        <div class="history__event">
            <p class="history__year">1912</p>
            <p class="history__event-title">Selling Wines</p>
            <div class="history__event-line"><div class="history__event-line-line"></div></div>
            <p class="history__event-description">Our home-based winery in California became a small, family-owned business, that supplied wine for connoisseurs of this amazing drink.</p>
        </div>
        <div class="history__event">
            <p class="history__year">1946</p>
            <p class="history__event-title">Restart of Production</p>
            <div class="history__event-line"><div class="history__event-line-line"></div></div>
            <p class="history__event-description">After the Second World War, we adopted the experience of European winemakers and began to use new technologies in our wine-making processes.</p>
        </div>
        <div class="history__event">
            <p class="history__year">2010</p>
            <p class="history__event-title">Worldwide Shipping</p>
            <div class="history__event-line"><div class="history__event-line-line"></div></div>
            <p class="history__event-description">We used to sell our wines only wine only in California. But since 2010, we have been shipping our bottles to other American states and even other countries.</p>
        </div>
    </div>
</section>