<section>
    <p class="shop__title">Craft wines</p>
    <h1 class="shop__heading">Our Wines</h1>
    <img class="shop__decor" src="img/best-deals-decor.svg" alt="Decor">
    <p class="shop__text">Select your favorite wine and buy it in a couple of clicks.</p>
    <div class="shop__product product">
        <a href="store-product.html"><img class="product__image" width="300" src="img/best-deals-cabernet.jpeg" alt="Cabernet"></a>
        <p>Cabernet</p>
        <p>17,00USD</p>
        <a href="#">Add to cart</a>
      </div>
    <div class="shop__product product">
        <a href="store-product.html"><img class="product__image" width="300" src="img/best-deals-pinotgrigio.jpeg" alt="Pinot Grigio"></a>
        <p>Pinot Grigio</p>
        <p>10,00USD</p>
        <a href="#">Add to cart</a>
    </div>
    <div class="shop__product product">
        <a href="store-product.html"><img class="product__image" width="300" src="img/best-deals-sauvignonblanc.jpeg" alt="Sauvignon Blanc"></a>
        <p>Sauvignon Blanc</p>
        <p>12,00USD</p>
        <a href="#">Add to cart</a>
    </div>
    <div class="shop__product product">
        <a href="store-product.html"><img class="product__image" width="300" src="img/best-deals-syrah.jpeg" alt="Syrah"></a>
        <p>Syrah</p>
        <p>13,00USD</p>
        <a href="#">Add to cart</a>
    </div>
    <div class="shop__product product">
        <a href="store-product.html"><img class="product__image" width="300" src="img/best-deals-soave.jpeg" alt="Soave"></a>
        <p>Soave</p>
        <p>12,00USD</p>
        <a href="#">Add to cart</a>
    </div>   
    <div class="shop__product product">
        <a href="store-product.html"><img class="product__image" width="300" src="img/best-deals-riesling.jpeg" alt="Riesling"></a>
        <p>Riesling</p>
        <p>16,00USD</p>
        <a href="#">Add to cart</a>
    </div>   
    <div class="shop__product product">
        <a href="store-product.html"><img class="product__image" width="300" src="img/best-deals-pinotnoir.jpeg" alt="Pinot Noir"></a>
        <p>Pinot Noir</p>
        <p>12,00USD</p>
        <a href="#">Add to cart</a>
    </div>   
    <div class="shop__product product">
        <a href="store-product.html"><img class="product__image" width="300" src="img/best-deals-zifandel.jpeg" alt="Zifandel"></a>
        <p>Zifandel</p>
        <p>14,00USD</p>
        <a href="#">Add to cart</a>
    </div>
    <div class="shop__view-all">
        <a href="store-home.html">View all</a>
    </div>      
</section>