<section class="shop">
    <p class="shop__title">Craft wines</p>
    <h1 class="shop__heading">Our Wines</h1>
    <img class="shop__decor" src="img/vine-decor.svg" alt="Decor">
    <p class="shop__text">Select your favorite wine and buy it in a couple of clicks.</p>
    <div class="shop__product product">
        <a href="store-product.html"><img class="product__image" width="300" src="img/best-deals-cabernet.jpeg" alt="Cabernet"></a>
        <p class="product__name">Cabernet</p>
        <p class="product__price">17,00USD</p>
        <a class="product__cart-link" href="#">Add to cart</a>
    </div>
    <div class="shop__product product">
        <a href="store-product.html"><img class="product__image" width="300" src="img/best-deals-pinotgrigio.jpeg" alt="Pinot Grigio"></a>
        <p class="product__name">Pinot Grigio</p>
        <p class="product__price">10,00USD</p>
        <a class="product__cart-link" href="#">Add to cart</a>
    </div>
    <div class="shop__product product">
        <a href="store-product.html"><img class="product__image" width="300" src="img/best-deals-sauvignonblanc.jpeg" alt="Sauvignon Blanc"></a>
        <p class="product__name">Sauvignon Blanc</p>
        <p class="product__price">12,00USD</p>
        <a class="product__cart-link" href="#">Add to cart</a>
    </div>
    <div class="shop__product product">
        <a href="store-product.html"><img class="product__image" width="300" src="img/best-deals-syrah.jpeg" alt="Syrah"></a>
        <p class="product__name">Syrah</p>
        <p class="product__price">13,00USD</p>
        <a class="product__cart-link" href="#">Add to cart</a>
    </div>
    <div class="shop__product product">
        <a href="store-product.html"><img class="product__image" width="300" src="img/best-deals-soave.jpeg" alt="Soave"></a>
        <p class="product__name">Soave</p>
        <p class="product__price">12,00USD</p>
        <a class="product__cart-link" href="#">Add to cart</a>
    </div>   
    <div class="shop__product product">
        <a href="store-product.html"><img class="product__image" width="300" src="img/best-deals-riesling.jpeg" alt="Riesling"></a>
        <p class="product__name">Riesling</p>
        <p class="product__price">16,00USD</p>
        <a class="product__cart-link" href="#">Add to cart</a>
    </div>   
    <div class="shop__product product">
        <a href="store-product.html"><img class="product__image" width="300" src="img/best-deals-pinotnoir.jpeg" alt="Pinot Noir"></a>
        <p class="product__name">Pinot Noir</p>
        <p class="product__price">12,00USD</p>
        <a class="product__cart-link" href="#">Add to cart</a>
    </div>   
    <div class="shop__product product">
        <a href="store-product.html"><img class="product__image" width="300" src="img/best-deals-zifandel.jpeg" alt="Zifandel"></a>
        <p class="product__name">Zifandel</p>
        <p class="product__price">14,00USD</p>
        <a class="product__cart-link" href="#">Add to cart</a>
    </div>
    <div class="shop__view-all">
        <a class="shop__view-all-link" href="store-home.html">View all</a>
    </div>      
</section>