<section class="shop" id="shop">
    <div class="shop__header">
        <p class="shop__header-title">Craft wines</p>
        <h2 class="shop__header-heading">Our Wines</h2>
        <img class="shop__header-decor" src="img/vine-decor.svg" alt="Decor">
        <p class="shop__header-text">Select your favorite wine and buy it in a couple of clicks.</p>
    </div>
    <div class="shop__outercontainer">
        <div class="shop__left-arrow-container">
          <div class="shop__arrowL">
            <svg class="arrow-svg_1j4" viewBox="0 0 30 30">
              <defs>
                <path
                  d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z"
                  id="a-1661443522056"></path>
              </defs>
              <use fill-rule="nonzero" opacity=".8" xlink:href="#a-1661443522056"></use>
            </svg>
          </div>
        </div>
        <div class="shop__products"></div>
        <div class="shop__right-arrow-container">
          <div class="shop__arrowR">
            <svg class="arrow-svg_1j4" viewBox="0 0 30 30">
              <defs>
                <path
                  d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z"
                  id="a-1691156771785"></path>
              </defs>
              <use fill-rule="nonzero" opacity=".8" xlink:href="#a-1691156771785"></use>
            </svg>
          </div>
        </div>
      </div>
    <div class="carousel-indicators">
        <div class="indicator"></div>
        <div class="indicator"></div>
        <div class="indicator"></div>
        <div class="indicator"></div>
    </div>
    <div class="shop__view-all">
        <a class="button" href="store-home.html"><strong>View all products</strong></a>
    </div>
</section>