<section>
    <p class="shop-title">Craft wines</p>
    <h1>Our Wines</h1>
    <img class="shop-decor" src="img/best-deals-decor.svg" alt="Decor">
    <p class="shop-text">Select your favorite wine and buy it in a couple of clicks.</p>
    <div class="bottle-block">
        <img width="300" src="img/best-deals-cabernet.jpeg" alt="Cabernet">
        <p>Cabernet</p>
        <p>17,00USD</p>
        <a href="#">Add to cart</a>
      </div>
    <div class="shop-bottle-block">
        <img width="300" src="img/best-deals-pinotgrigio.jpeg" alt="Pinot Grigio">
        <p>Pinot Grigio</p>
        <p>10,00USD</p>
        <a href="#">Add to cart</a>
    </div>
    <div class="shop-bottle-block">
        <img width="300" src="img/best-deals-sauvignonblanc.jpeg" alt="Sauvignon Blanc">
        <p>Sauvignon Blanc</p>
        <p>12,00USD</p>
        <a href="#">Add to cart</a>
    </div>
    <div class="shop-bottle-block">
        <img width="300" src="img/best-deals-syrah.jpeg" alt="Syrah">
        <p>Syrah</p>
        <p>13,00USD</p>
        <a href="#">Add to cart</a>
    </div>
    <div class="shop-bottle-block">
        <img width="300" src="img/best-deals-soave.jpeg" alt="Soave">
        <p>Soave</p>
        <p>12,00USD</p>
        <a href="#">Add to cart</a>
    </div>   
    <div class="shop-bottle-block">
        <img width="300" src="img/best-deals-riesling.jpeg" alt="Riesling">
        <p>Riesling</p>
        <p>16,00USD</p>
        <a href="#">Add to cart</a>
    </div>   
    <div class="shop-bottle-block">
        <img width="300" src="img/best-deals-pinotnoir.jpeg" alt="Pinot Noir">
        <p>Pinot Noir</p>
        <p>12,00USD</p>
        <a href="#">Add to cart</a>
    </div>   
    <div class="shop-bottle-block">
        <img width="300" src="img/best-deals-zifandel.jpeg" alt="Zifandel">
        <p>Zifandel</p>
        <p>14,00USD</p>
        <a href="#">Add to cart</a>
    </div>       
</section>