<section class="shop" id="shop">
    <div class="shop__header">
        <p class="shop__header-title">Craft wines</p>
        <h2 class="shop__header-heading">Our Wines</h2>
        <img class="shop__header-decor" src="img/vine-decor.svg" alt="Decor">
        <p class="shop__header-text">Select your favorite wine and buy it in a couple of clicks.</p>
    </div>
    <div class="shop__outercontainer">
        <div class="shop__left-arrow-container"><button class="shop__arrowL">&lt;</button></div>
        <div class="shop__products"></div>
        <div class="shop__right-arrow-container"><button class="shop__arrowR">&gt;</button></div>
    </div>
    <div class="carousel-indicators">
        <div class="indicator"></div>
        <div class="indicator"></div>
        <div class="indicator"></div>
        <div class="indicator"></div>
    </div>
    <div class="shop__view-all">
        <a class="button" href="store-home.html"><strong>View all products</strong></a>
    </div>
</section>