<!--Vatrych-->
<section class="testimonials">
    <div class="testimonials__header">
        <p class="testimonials__part-name">Testimonials</p>
        <p class="testimonials__title">What Our Wine-Lovers Say</p>
        <img class="testimonials__grape-logo" src="img/vine-decor.svg" alt="Grape decor">
        <p class="testimonials__subtitle">Wine is a bottled poetry. Read some stories from our customers below.</p>
    </div>
    <div class="testimonials__carrousel">
        <button class="testimonials__button-testimonials__button-prev" type="button"><svg class="arrow-svg_1j4"
                viewBox="0 0 30 30">
                <defs>
                    <path
                        d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z"
                        id="a-1661443522056"></path>
                </defs>
                <use fill-rule="nonzero" opacity=".8" xlink:href="#a-1661443522056"></use>
            </svg></button>
        <ul class="testimonials__list"></ul>
        <div class="testimonials__carrousel__buttons">
            <button class="testimonials__button-testimonials__button-next" type="button"> <svg class="arrow-svg_1j4"
                    viewBox="0 0 30 30">
                    <defs>
                        <path
                            d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z"
                            id="a-1661443522056"></path>
                    </defs>
                    <use fill-rule="nonzero" opacity=".8" xlink:href="#a-1661443522056"></use>
                </svg></button>
        </div>
    </div>
    <div class="indicator-nav">
        <button class="indicator-nav__button" type="button" data-text-to="0"></button>
        <button class="indicator-nav__button" type="button" data-text-to="1"></button>
        <button class="indicator-nav__button" type="button" data-text-to="2"></button>
    </div>
</section>