<!--Vatrych-->
<section class="testimonials">
    <div class="testimonials__header">
        <p class="testimonials__block-name">Testimonials</p>
        <p class="testimonials__title">What Our Wine-Lovers Say</p>
        <img class="testimonials__grape-logo" src="img/vine-decor.svg" alt="Grape decor">
        <p class="testimonials__subtitle">Wine is a bottled poetry. Read some stories from our customers below.</p>
    </div>
    <button class="testimonials__button-testimonials__button-left" type="button">&#60;</button>
    <div class="testimonials__carrousel">
        <ul class="testimonials__list">
            <li class="testimonials__text">
                <p class="testimonials__quote"> “I really like to please myself with good wine with a rich taste.
                    Therefore, from time to time, I order wine directly from the CaliWines winery. I also buy
                    Chardonnay and Cabernet for family holidays. We are completely delighted with the amazing taste
                    of these wines, which we want to enjoy endlessly.”</p>
            </li>
            <li class="testimonials__text">
                <p class="testimonials__quote"> “We were to hold a responsible event with a buffet table and wanted
                    to surprise our guests with some local products. I recalled that we have the CaliWines winery in
                    California and ordered 10 bottles of Chardonnay. Our guests were delighted and asked for the
                    name of the producer!”</p>
            </li>
            <li class="testimonials__text">
                <p class="testimonials__quote"> “Our restaurant has been cooperating with this winery for over 10
                    years. We order the whole range of wines from them. We are completely satisfied with the quality
                    of the wine supplied to us. And our guests often choose CaliWines from our wine menu.”</p>
            </li>
        </ul>
        <button class="testimonials__button-testimonials__button-right" type="button">&#62;</button>
    </div>
    <div class="indicator-nav">
        <button class="indicator-nav__button" type="button" data-text-to="1"></button>
        <button class="indicator-nav__button" type="button" data-text-to="2"></button>
    </div>
</section>