<!--Vatrych-->
<section class="testimonials">
    <div class="testimonials__header">
        <p class="testimonials__part-name">Testimonials</p>
        <p class="testimonials__title">What Our Wine-Lovers Say</p>
        <img class="testimonials__grape-logo" src="img/vine-decor.svg" alt="Grape decor">
        <p class="testimonials__subtitle">Wine is a bottled poetry. Read some stories from our customers below.</p>
    </div>
    <div class="testimonials__carrousel">
        <button class="testimonials__button-testimonials__button-prev" type="button">&lt;</button>
        <ul class="testimonials__list"></ul>
        <button class="testimonials__button-testimonials__button-next" type="button">&gt;</button>
    </div>
    <div class="indicator-nav">
        <button class="indicator-nav__button" type="button" data-text-to="0"></button>
        <button class="indicator-nav__button" type="button" data-text-to="1"></button>
        <button class="indicator-nav__button" type="button" data-text-to="2"></button>
    </div>
</section>