<section class="video" title="Section with video about history of wine" id="video">
    <div class="video__section-inner container inner">
        <div class="inner__grid">
            <div class="video__left">
                <p class="video__block-history">
                    History
                </p>
                <h2 class="video__block-title">
                    In Vino Veritas
                </h2>
                <div class="video__block-image">
                    <img src="img/vine-decor.svg" alt="Video weave">
                </div>
                <span class="video__block-text">
                    Alcaeus, a famous Greek poet, said that the truth
                    can be found in wine. Let's dive into the history of
                    the most famous wine varieties to see the truth
                    about them.
                </span>
                <div class="video__youtube">
                    <span>
                        <a class="video__youtube-link" href="https://www.youtube.com/watch?v=IpbEUS-TV0Y"
                            target="_blank">
                            Watch on Youtube →
                        </a>
                    </span>
                </div>
            </div>
            <span class="inner__grid-empty">
            </span>
            <div class="video__play play">
                <a class="play__icon add-btn" href="https://www.youtube.com/watch?v=IpbEUS-TV0Y">
                    <svg class="play__button" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100"
                        enable-background="new 0 0 100 100" xml:space="preserve">
                        <g fill="currentColor">
                            <g fill="currentColor">
                                <path fill="currentColor"
                                    d="M50,0C22.427,0-0.002,22.43-0.002,50c0,27.571,22.43,50,50.003,50c27.574,0,50.003-22.429,50.003-50    C100.004,22.43,77.574,0,50,0z M50,94.231C25.61,94.231,5.767,74.39,5.767,50C5.767,25.611,25.61,5.77,50,5.77    S94.234,25.611,94.234,50C94.234,74.39,74.391,94.231,50,94.231z">
                                </path>
                            </g>
                            <g fill="currentColor">
                                <path fill="currentColor"
                                    d="M44.783,24.503c-0.828-0.827-2.068-1.075-3.144-0.625c-1.076,0.446-1.78,1.499-1.78,2.665v46.915    c0,1.166,0.704,2.218,1.78,2.666c0.357,0.149,0.732,0.22,1.104,0.22c0.75,0,1.487-0.293,2.04-0.845l23.455-23.459    c1.127-1.126,1.127-2.952,0-4.078L44.783,24.503z M45.628,66.491V33.507L62.119,50L45.628,66.491z">
                                </path>
                            </g>
                        </g>
                        <p class="play__text">
                            Play video
                        </p>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>